<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="icon" href="/public/images/branding/auth-icon.png">
    <title>YOUR TITLE HERE</title>
</head>

<body class="bg-white text-center">
    <%- include('./../auth/layout/messages' ) %>

    <div class="row">
        <div class="col align-self-center">
            <div class="card">
                <div class="card-header">
                    <p>
                        Welcome to ugle-auth! Use the links below to test out the features of our all-in-one routing function.
                    </p>
                </div>
                <div class="card-body">
                    <p>Message Testing</p>
                    <%
                    actions = [
                        'server-error',
                        'signup-successful',
                        'signup-failed',
                        'login-successful',
                        'login-failed',
                        'signup-successful',
                        'signup-failed',
                        'forgot-password-successful',
                        'forgot-password-failed',
                        'reset-password-successful',
                        'reset-password-failed',
                        'refresh-session-successful',
                        'refresh-session-failed',
                        'change-password-successful',
                        'change-password-failed',
                        'request-verification-successful',
                        'request-verification-failed',
                        'confirm-verification-successful',
                        'confirm-verification-failed',
                        'delete-account-successful',
                        'delete-account-failed',
                        'lock-account-successful',
                        'lock-account-failed',
                        'unlock-account-successful',
                        'unlock-account-failed',
                        'add-permission-successful',
                        'add-permission-failed',
                        'remove-permission-successful',
                        'remove-permission-failed',
                    ];

                    actions.forEach((action) => {
                    %>

                    <a class="btn btn-info mb-1" href="/?msg=<%=action%>"><%=action%></a>


                    <%
                    })
                    %>
                    <hr>
                    <p>Debugging</p>
                    <p class="text-muted">
                        (debugging links are added by the test script, they are not part of ugle-auth's routing function)
                    </p>
                    <a class="btn btn-dark" target="_blank" href="/debug/session">Debug Session</a>
                    <a class="btn btn-dark" target="_blank" href="/debug/auth">Debug Auth</a>
                    <a class="btn btn-dark" target="_blank" href="/debug/archive">Debug Archive</a>
                    <a class="btn btn-dark" target="_blank" href="/debug/log">Debug Log</a>
                    <hr>
                    <p>Session Agnostic</p>
                    <a class="btn btn-primary" href="/auth/signup">Signup</a>
                    <a class="btn btn-primary" href="/auth/login">Login</a>
                    <a class="btn btn-primary" href="/auth/forgot-password">Forgot Password</a>
                    <a class="btn btn-primary" href="/auth/reset-password">Reset Password</a>
                    <hr>
                    <p>Logged in Users only</p>
                    <%
                    if(session.valid) {
                        session_class = ''
                    } else {
                        session_class = 'disabled'
                    }
                    %>
                    <a class="btn btn-success <%-session_class%>" href="/auth">Auth</a>
                    <a class="btn btn-success <%-session_class%>" href="/auth/logout">Logout</a>
                    <a class="btn btn-success <%-session_class%>" href="/auth/refresh-session">Refresh Session</a>
                    <a class="btn btn-success <%-session_class%>" href="/auth/change-password">Change Password</a>
                    <a class="btn btn-success <%-session_class%>" href="/auth/request-verification">Request Verification</a>
                    <a class="btn btn-success <%-session_class%>" href="/auth/confirm-verification">Confirm Verification</a>
                    <a class="btn btn-success <%-session_class%>" href="/auth/delete-account">Delete Account</a>
                    <hr>
                    <p>Admins Only</p>
                    <%
                    try{
                        if(session.perms.admin) {
                            session_class = ''
                        } else {
                            session_class = 'disabled'
                        }
                    } catch (err) {
                        session_class = 'disabled'
                    }
                    %>
                    <a class="btn btn-warning <%-session_class%>" href="/auth/lock-account">Lock Account</a>
                    <a class="btn btn-warning <%-session_class%>" href="/auth/unlock-account">Unlock Account</a>
                    <a class="btn btn-warning <%-session_class%>" href="/auth/add-permission">Add Permission</a>
                    <a class="btn btn-warning <%-session_class%>" href="/auth/remove-permission">Remove Permission</a>

                    <hr>
                </div>
            </div>
        </div>
    </div>
</body>

</html>