<% try{
    if(query.msg == 'server-error'){
        msg_danger = 'Something went wrong, please try again later.'

    } else if(query.msg == 'signup-successful'){
        msg_success = 'Login successful.'
    } else if(query.msg == 'signup-failed'){
        msg_warning = 'Login failed, please try again.'

    } else if(query.msg == 'login-successful'){
        msg_success = 'Login successful.'
    } else if(query.msg == 'login-failed'){
        msg_warning = 'Login failed, please try again.'

    } else if(query.msg == 'signup-successful'){
        msg_success = 'Login successful.'
    } else if(query.msg == 'signup-failed'){
        msg_warning = 'Login failed, please try again.'

    } else if(query.msg == 'forgot-password-successful'){
        msg_success = 'An email has been sent to you, please check your inbox and spam folders.'
    } else if(query.msg == 'forgot-password-failed'){
        msg_warning = 'Login failed, please try again.'

    } else if(query.msg == 'reset-password-successful'){
        msg_success = 'Login successful.'
    } else if(query.msg == 'reset-password-failed'){
        msg_warning = 'Login failed, please try again.'

    } else if(query.msg == 'refresh-session-successful'){
        msg_success = 'Login successful.'
    } else if(query.msg == 'refresh-session-failed'){
        msg_warning = 'Login failed, please try again.'

    } else if(query.msg == 'change-password-successful'){
        msg_success = 'Login successful.'
    } else if(query.msg == 'change-password-failed'){
        msg_warning = 'Login failed, please try again.'

    } else if(query.msg == 'request-verification-successful'){
        msg_success = 'An email has been sent to you, please check your inbox and spam folders.'
    } else if(query.msg == 'request-verification-failed'){
        msg_warning = 'Login failed, please try again.'

    } else if(query.msg == 'confirm-verification-successful'){
        msg_success = 'Login successful.'
    } else if(query.msg == 'confirm-verification-failed'){
        msg_warning = 'Login failed, please try again.'

    } else if(query.msg == 'delete-account-successful'){
        msg_success = 'Login successful.'
    } else if(query.msg == 'delete-account-failed'){
        msg_warning = 'Login failed, please try again.'

    } else if(query.msg == 'lock-account-successful'){
        msg_success = 'Login successful.'
    } else if(query.msg == 'lock-account-failed'){
        msg_warning = 'Login failed, please try again.'

    } else if(query.msg == 'unlock-account-successful'){
        msg_success = 'Login successful.'
    } else if(query.msg == 'unlock-account-failed'){
        msg_warning = 'Login failed, please try again.'

    } else if(query.msg == 'add-permission-successful'){
        msg_success = 'Login successful.'
    } else if(query.msg == 'add-permission-failed'){
        msg_warning = 'Login failed, please try again.'

    } else if(query.msg == 'remove-permission-successful'){
        msg_success = 'Login successful.'
    } else if(query.msg == 'remove-permission-failed'){
        msg_warning = 'Login failed, please try again.'



    } else if(query.msg == 'logout-successful'){
        msg_success = 'Logout successful.'
    } else if(query.msg == 'logout-failed'){
        msg_warning = 'Logout failed, please try again.'

    } else if(query.msg == 'email-sent'){
        msg_success = 'An email has been sent to you, please check your inbox and spam folders.'
    } else if(query.msg == 'email-failed'){
        msg_warning = 'We weren\'t able to send an email at this time, please try again later.'

    } else if(query.msg == 'reset-password-successful'){
        msg_success = 'Reset Password successful.'
    } else if(query.msg == 'reset-password-failed'){
        msg_warning = 'Reset Password failed, please try again.'


    }














} catch(err){
    
}

%>


<% try { if (msg_primary != undefined) { %>
<%- '<div class="alert alert-primary" role="alert">' + msg_primary + '</div>' %>
<% } } catch {} %>
<% try { if (msg_secondary != undefined) { %>
<%- '<div class="alert alert-secondary" role="alert">' + msg_secondary + '</div>' %>
<% } } catch {} %>
<% try { if (msg_success != undefined) { %>
<%- '<div class="alert alert-success" role="alert">' + msg_success + '</div>' %>
<% } } catch {} %>
<% try { if (msg_danger != undefined) { %>
<%- '<div class="alert alert-danger" role="alert">' + msg_danger + '</div>' %>
<% } } catch {} %>
<% try { if (msg_warning != undefined) { %>
<%- '<div class="alert alert-warning" role="alert">' + msg_warning + '</div>' %>
<% } } catch {} %>
<% try { if (msg_info != undefined) { %>
<%- '<div class="alert alert-info" role="alert">' + msg_info + '</div>' %>
<% } } catch {} %>
<% try { if (msg_light != undefined) { %>
<%- '<div class="alert alert-light" role="alert">' + msg_light + '</div>' %>
<% } } catch {} %>
<% try { if (msg_dark != undefined) { %>
<%- '<div class="alert alert-dark" role="alert">' + msg_dark + '</div>' %>
<% } } catch {} %>



<%
if(query.msg){
%>
<div class="alert alert-info"><%= query.msg %></div>
<%
}
%>