<% try { if (msg_primary != undefined) { %>
<%- '<div class="alert alert-primary" role="alert">' + msg_primary + '</div>' %>
<% } } catch {} %>
<% try { if (msg_secondary != undefined) { %>
<%- '<div class="alert alert-secondary" role="alert">' + msg_secondary + '</div>' %>
<% } } catch {} %>
<% try { if (msg_success != undefined) { %>
<%- '<div class="alert alert-success" role="alert">' + msg_success + '</div>' %>
<% } } catch {} %>
<% try { if (msg_danger != undefined) { %>
<%- '<div class="alert alert-danger" role="alert">' + msg_danger + '</div>' %>
<% } } catch {} %>
<% try { if (msg_warning != undefined) { %>
<%- '<div class="alert alert-warning" role="alert">' + msg_warning + '</div>' %>
<% } } catch {} %>
<% try { if (msg_info != undefined) { %>
<%- '<div class="alert alert-info" role="alert">' + msg_info + '</div>' %>
<% } } catch {} %>
<% try { if (msg_light != undefined) { %>
<%- '<div class="alert alert-light" role="alert">' + msg_light + '</div>' %>
<% } } catch {} %>
<% try { if (msg_dark != undefined) { %>
<%- '<div class="alert alert-dark" role="alert">' + msg_dark + '</div>' %>
<% } } catch {} %>